.teal_text {
    color: teal;
}
    
.rust_text {
    color: #b7410e;
}

html {
    align-items: center;
    background-color: #313131;
    color: whitesmoke;
    font: 22px "Monaco", "Courier New", Courier, monospace;
    height: 100%;
    justify-content: center;
    margin: 0;
}

body {
    margin: 1em;
    padding: 1em;
    text-align: center;
}

h1 {
    font-size: 2em;
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
    font-family: "Luminari", "Bradley Hand", Courier, monospace;
}

form {
    font-size: 1.5em;
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
}

form input[type="search"] {
    background-color: #3a3939;
    color: teal;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    font: inherit;
    width: 50%;
    text-align: center;
}

form:focus-within input::placeholder {
    opacity: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #1d81b2;
}

nav {
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10px;
    min-width: 24em;
    padding: 1em 0;
    font: 20px "Monaco", monospace, "Courier New", Courier, monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

li:first-child {
    color: teal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    font-family: "Luminari", "Bradley Hand", "Courier New", Courier, monospace;
}

.top img {
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    width: 30%;
    filter: brightness(85%);
}

img{
    width: 17px;
    transform: translateY(2px);
    padding-right: 4px;
}
